@tailwind base;
@tailwind components;
@tailwind utilities;

body{
        background-color: rgba(217, 246, 251, 0.902);
        font-family: "Sriracha", cursive;
        font-weight: 400;
        font-style: normal;
      
}

::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb{

    background-color: #2f2f2f;
    border-radius: 100px;
}




